.dicharts--boilerplate-chart,
.dicharts--gha-donors,
.dicharts--gha-recipients {
  width: 100%;
  min-height: 450px;
}

.spotlight-banner.data-selector--wrapper {
  padding: 1em 2em;
}

.spotlight-banner .labelled-data-selector--wrapper .data-selector {
  left: 0;
}

.labelled-data-selector--wrapper {
  display: inline-block;
}

.display-none {
  display: none;
}

#map {
  background: white;
}

.legend {
  color: #555;
  display: flex;
  width: fit-content;
  font-family: 'Geomanist Regular,sans-serif'
}

.legend i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 8px;
  opacity: 1;
}

.legend label {
  margin-right: 8px;
  text-align: center;
  font-size: 13;
}
