.dicharts--boilerplate-chart,
.dicharts--gha-donors,
.dicharts--gha-recipients,
.dicharts--climate-funding,
.dicharts--gha-people-affected-by-crisis-leaflet {
  width: 100%;
  min-height: 450px;
  background: white;
}

.dicharts--gha-people-affected-by-crisis-leaflet {
  z-index: 1;
}

.spotlight-banner.data-selector--wrapper {
  padding: 1em 2em;
}

.spotlight-banner .labelled-data-selector--wrapper .data-selector {
  left: 0;
}

.labelled-data-selector--wrapper {
  display: table-cell;
  padding-right: 20px;
}

.display-none {
  display: none;
}

.legend {
  color: #555;
  display: flex;
  width: fit-content;
  padding: 6px 8px;
  font: 14px/21px "Geomanist Regular", sans-serif;
  background: white;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
}

.legend span {
  display: inline-flex;
}

.legend i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 8px;
  margin-top: 2px;
  opacity: 1;
}

.legend label {
  margin-right: 8px;
  text-align: center;
  font-size: 13px;
  padding: 2px;
}

.leaflet-tooltip {
  position: absolute;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #fff;
  color: rgb(102, 102, 102) !important;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  text-align: center;
  font: 14px/21px "Geomanist Regular", sans-serif;
  border-radius: 10px;
}

.databox {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font: 14px/21px "Geomanist Regular", sans-serif;
  padding: 6px 8px;
  background: rgba(255,255,255);
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  cursor: default;
}

.databox span {
  display: flex;
}

.databox span p {
  padding-left: 2px;
}

.databox button {
  position: absolute;
  right: 5px;
}

.mapFilterItem {
  display: inline-block;
  padding: 6px 8px;
  font: 14px/21px "Geomanist Regular", sans-serif;
  background: rgba(255,255,255);
  color: #ddd !important;
  margin-right: 5px;
}

.mapFilterButton {
  display: flex;
  color: #ddd;
}

.mapFilterItem p {
  padding-top: 1px;
  margin-left: 2px;
}

.mapFilterItem-active {
  color: #443e42;
}

.food-icon {
  margin-left: 6px !important;
}

.reset-button {
  border: 2px solid #ccc;
  padding: 6px 8px;
  font: 14px/21px "Geomanist Regular", sans-serif;
  background: rgba(255,255,255);
  border-radius: 2px;
}

.reset-button:hover {
  background-color: #f4f4f4;
}

#closeDatabox img {
  filter: invert(76%) sepia(4%) saturate(24%) hue-rotate(334deg) brightness(91%) contrast(93%);
}

#closeDatabox img:hover {
  filter: invert(42%) sepia(43%) saturate(23%) hue-rotate(339deg) brightness(101%) contrast(93%);
}

.leaflet-interactive.grab-cursor-enabled {
  cursor: grab !important;
}
